{% extends 'components/base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}Signup Page{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
            <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1 align="center">Signup Form</h1>
    <div class="container">
        {{ render_form(form) }}
        <a href="{{ url_for('admin.home') }}">Already have an account? Login here</a>
    </div>
{% endblock %}